<html>
  <head></head>
  <body>
    <div class="container">
      <form action="" [formGroup]="loginForm" class="text-center">
        <h3 style="text-align: center;">Login Form</h3>
        <label for="" >Email-Id </label>&nbsp;
        <input type="email" name="email" formControlName="email" >
        <br><br>
        <label for="" >Password </label>&nbsp;
        <input type="password" name="password" formControlName="password" >
        <br><br>
        <a type="submit" name="submit" class="btn btn-outline-success btn-sm back" (click)="onSubmit()">Login</a>

      </form>
    </div>
  </body>
</html>
